.vscode/launch.json
WebApp/__pycache__/local_file_interac.cpython-310.pyc
CLI&DesktopGUI/__pycache__/user_action.cpython-310.pyc
CLI&DesktopGUI/__pycache__/local_file_interac.cpython-310.pyc
CLI&DesktopGUI/__pycache__/error_code.cpython-310.pyc
